body {
  background-color: #14181c;
}

.filmHeading,
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.poster {
  width: 450px;
  padding-top: 40px;
}

.title {
  color: white;
  font-family: "Source-Serif-4", sans-serif;
}
